[Unit]
Description=bitkonj
After=syslog.target network.target

[Service]
User=percolant
Group=sudo
WorkingDirectory=/opt/bitkonj
ExecStart=bash -c "bitkonj"

[Install]
WantedBy=multi-user.target
